<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <package id="googlechrome" />
    <package id="7zip" />
    <package id="git" />
    <package id="putty" />
    <package id="winscp" />
    <package id="visualstudiocode" />
    <package id="awscli"/>
    <package id="terraform"/>
  </packages>
