<?xml version="1.0" encoding="utf-8"?>
  <packages>

    <!-- cmd line utils -->
    <package id="starship" />
    <package id="curl" />
    <package id="wget" />
    <package id="bginfo" />
    <package id="gpg4win" />
    <package id="puppet-bolt" />

    <!-- Browsers -->
    <package id="googlechrome" />
    <package id="firefox" />

    <!-- Utils -->
    <package id="7zip.install" />
    <package id="putty.install" />
    <package id="winscp" />

    <!-- Source Control, Editor -->
    <package id="git" />
    <package id="github-desktop" />
    <package id="vscode.install" />

    <!-- Cloud CLI -->
    <package id="awscli" />
    <package id="azure-cli" />

    <!-- Hashicorp -->
    <package id="terraform" />
    <package id="packer" />
    <package id="vault" />

    <!-- JSON and YML parsers -->
    <package id="jq" />
    <package id="yq" />

    <!-- VS Code Extensions -->
    <package id="vscode-prettier" />
    <package id="vscode-ansible" />
    <package id="vscode-gitlens" />
    <package id="vscode-docker" />
    <package id="vscode-markdownlint" />
    <package id="vscode-powershell" />
    <package id="vscode-yaml" />
    <package id="materialicon-vscode" />

    <!-- Conf Calling -->
    <!--
    <package id="webex-meetings" />
    <package id="zoom" />
    <package id="gotomeeting" />
    <package id="adobe-connect" />
    -->

  </packages>
